.Auth {
  display: block;
}

body {
background: url('../../../assets/desktop.jpeg') no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}