.Auth {
  display: block;
}

#openBook {
  border-radius: 8px;
  margin-top: 0;
  width: 50vh;
  height: 25%;
  box-shadow: 5px 10px;
  // border: 5px 5px 5px 0 solid black;
  // border-radius: 4px;
}

.textBackground {
  background-color: white;
  width: 50vh;
  border-radius: 4px;
  box-shadow: 5px 10px;
}
