.MyNavBar {
  display: block;
}

nav li {
  display: inline-block;
  border-right: 1px solid #ccc;
  padding: 0 .25em;
  }

nav li:last-child {
  border: 0;
}  

nav div {
  display: inline-block;
  border-right: 1px solid #ccc;
  padding: 0 .25em;
  }

  nav div:last-child {
    border: 0;
  } 