.Feedback {
  display: block;
}

.scrollInDiv {
  height: 100vh;
  overflow: auto;
}

#feedbackPattern {
  height: 100%;
  background-image: repeating-linear-gradient(#FFFFE0 0px, #FFFFE0 24px, teal 25px);
}

.col {
  padding-right: 0!important;
  padding-left: 0!important;
}

.commentMakerBackground {
  background: url('../../../assets/brownpaper.jpeg');
}

#paper1::before {
  content: '';
  width: 2px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 55px;
  background-color: rgba(255,0,0,0.6);
}