.Comments {
  display: block;
}

.commentBackground {
  background: url('../../../assets/notes.jpeg');
  width: 50%;
}

.commentCardWidth {
  width: 40%!important;
}

.textColorComment {
  font-weight: bolder;
}