.About {
  display: block;
}

#noteBookKey {
  border-radius: 8px;
  margin-top: 0;
  width: 75vh;
  height: 25%;
  box-shadow: 5px 10px;
}

.aboutTextBackground {
  background-color: white;
  width: 75vh;
  border-radius: 4px;
  box-shadow: 5px 10px;
}

.marginDelete {
  margin-bottom: 0;
}