.AllPosts {
  display: block;
}

body {
  background: url('../../../assets/typewriter.jpeg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}